* {
  padding: 0;
  margin: 0;
}

body {
  background: url('images/wall.jpg');
  background-size: cover;

  font-family: 'Roboto', sans-serif;
}

.screen {
  margin: 0 auto;
  width: 650px;
  height: auto;
  box-shadow: 10px 10px 20px 5px rgba(51, 51, 51, 0.66);
  background: transparent;
  border-radius: 5px;

  margin-top: 100px;
}

.title {
  width: 100%;
  height: 30px;
  background: linear-gradient(#EBEBEB, #D4D4D4);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  box-sizing: border-box;
  padding-top: 6px;

  text-align: center;

  display: flex;
  justify-content: space-between;
}

.title p {
  color: #65605B;
  margin-left: -80px;
}

.console {
  width: 100%;
  height: 300px;
  background: rgba(49, 53, 60, 0.91);

  color: #8f99a8;

  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  box-sizing: border-box;
  padding: 5px;
}

.redBut, .yellowBut, .greenBut {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #000;
  float: left;
  margin-left: 10px;

  cursor: pointer;
}

.redBut { background: #FF6057; }
.yellowBut { background: #FFBE2F; }
.greenBut { background: #28CA42; }
